<div class="container">
  
        <!-- <mat-spinner *ngIf="show"></mat-spinner> -->
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step>
            <ng-template matStepLabel>Page 1</ng-template>
            <app-page1 (onSaveEmployee)="saveEmployee($event);"></app-page1>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Page 2</ng-template>
            <app-page2></app-page2>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Page 3</ng-template>
            <app-page3></app-page3>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Page 4</ng-template>
            <app-page4></app-page4>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                    <mat-spinner></mat-spinner>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>