<div class="container">  
<form [formGroup]="firstFormGroup"  >
<mat-card>
<mat-card-title>I. Personal Information</mat-card-title>
<mat-card-content>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Sname" name="Sname" placeholder="Surname"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width" >
                <input matInput formControlName="Fname" name="Fname" placeholder="Firstname"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Mname" name="Mname" placeholder="Middlename"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-select formControlName="Extname" name="Extname" placeholder="Extension">
                  <mat-option  value="Jr.">Jr.</mat-option>
                  <mat-option  value="Sr.">Sr.</mat-option>
                  <mat-option  value="III">III</mat-option>
                  <mat-option  value="IV">IV</mat-option>
                </mat-select>
            </mat-form-field>
        </div>       
    </div>      
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="DoB" name="DoB" placeholder="Birthday" type="date"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="PoB" name="PoB"placeholder="Place of Birth"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-select formControlName="sex" name="sex" placeholder="Sex"  required>
                    <mat-option  value="Male">Male</mat-option>
                    <mat-option  value="Female">Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-select formControlName="civil_status" name="civil_status" placeholder="Civil Status"  required>
                    <mat-option  value="Single">Single</mat-option>
                    <mat-option  value="Married">Married</mat-option>
                    <mat-option  value="Annuled">Annuled</mat-option>
                    <mat-option  value="Widowed">Widowed</mat-option>
                    <mat-option  value="Separated">Separated</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>   
    <div class="row">
         <div class="col">
            <mat-form-field>
                <mat-select formControlName="citizenship" name="citizenship" placeholder="Citizenship"  required>
                  <mat-option  value="Filipino">Filipino</mat-option>
                  <mat-option  value="Others">Others</mat-option>
                </mat-select>
            </mat-form-field>
         </div>
         <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Height" name="Height" placeholder="Height" type="number" required>
            </mat-form-field>
         </div>
         <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Weight" name="Weight" placeholder="Weight" type="number" required>
            </mat-form-field>
         </div>
         <div class="col">               
        <mat-form-field class="example-full-width">
            <input matInput formControlName="BT" name="BT" placeholder="Blood Type">
        </mat-form-field>
         </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="GSIS_ID" name="GSIS_ID" placeholder="GSIS ID No.">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="PAGIBIG_ID" name="PAGIBIG_ID" placeholder="PAG-IBIG ID No.">
            </mat-form-field>
        </div>
        <div class="col">    
        <mat-form-field class="example-full-width">
            <input matInput formControlName="PHILHEALTH_ID" name="PHILHEALTH_ID" placeholder="SSS No.">
        </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="SSS_ID" name="SSS_ID" placeholder="PhilHealth No.">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="R_Address" name="R_Address" placeholder="Residential Address" required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="R_ZipCode" name="R_ZipCode" placeholder="Zip Code" required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="R_Tel" name="R_Tel" placeholder="Telephone No.">
            </mat-form-field>
        </div>
      
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="P_Address" name="P_Address" placeholder="Permanent Address" required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="P_ZipCode" name="P_ZipCode" placeholder="Zip Code" required>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="P_Tel" name="P_Tel" placeholder="Telephone No.">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Email" name="Email" placeholder="Email Address" type="email">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="Cell" name="Cell" placeholder="Cellphone No.">
            </mat-form-field>
        </div>
        <div class="col">                
        <mat-form-field class="example-full-width">
            <input matInput formControlName="A_Emp_ID" name="A_Emp_ID" placeholder="Agency Employee No.">
        </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="TIN" name="TIN" placeholder="TIN" required>
            </mat-form-field>
        </div>
    </div>                   
</mat-card-content>
</mat-card>
<mat-card>
<mat-card-title>II. Family Background</mat-card-title>
  <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="s_surname" name="s_surname" placeholder="Spouse's Surname">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="s_firstname" name="s_firstname" placeholder="Firstname">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="s_middlename" name="s_middlename" placeholder="Middlename">
        </mat-form-field>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="example-full-width">
          <input matInput formControlName="s_occupation" name="s_occupation" placeholder="Occupation">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="example-full-width">
          <input matInput formControlName="s_employer" name="s_employer" placeholder="Employer/Bus. Name">
      </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="s_address" name="s_address" placeholder="Employer Address">
        </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="example-full-width">
          <input matInput formControlName="s_tel" name="s_tel" placeholder="Telephone No.">
      </mat-form-field>
    </div>
</div>
<button mat-raised-button color="primary" (click)="addChild()">Add Child</button>  
<div formArrayName="children">
    <div *ngFor="let comp of firstFormGroup.get('children').controls; let i=index">
    <div  class="row" [formGroupName]="i">
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput  formControlName="name" placeholder="Name of Child">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput  formControlName="bday" placeholder="Date of Birth" type="date">
            </mat-form-field>
        </div>
        <div class="col">
            <button mat-raised-button color="warn" (click)="removeChild(i)">Delete Child</button>
        </div>
    </div>   
    </div>
</div>


<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="f_surname" name="f_surname" placeholder="Father's Surname"  required>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="f_firstname" name="f_firstname" placeholder="Firstname"  required>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="f_middlename" name="f_middlename" placeholder="Middlename"  required>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="m_surname" name="m_surname" placeholder="Mother's Surname"  required>
            <mat-hint>Mother's Maiden Name</mat-hint>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="m_firstname" name="m_firstname" placeholder="Firstname"  required>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="m_middlename" name="m_middlename" placeholder="Middlename"  required>
        </mat-form-field>
    </div>
</div>
<div class="row">
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="f_surname" name="f_surname" placeholder="Father's Surname"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="f_firstname" name="f_firstname" placeholder="Firstname"  required>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="f_middlename" name="f_middlename" placeholder="Middlename"  required>
            </mat-form-field>
        </div>
</div>
<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="m_surname" name="m_surname" placeholder="Mother's Surname"  required>
            <mat-hint>Mother's Maiden Name</mat-hint>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="m_firstname" name="m_firstname" placeholder="Firstname"  required>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="m_middlename" name="m_middlename" placeholder="Middlename"  required>
        </mat-form-field>
    </div>
</div>
</mat-card>


<mat-card>
        <mat-card-title>II. Educational Background</mat-card-title>
        <button mat-raised-button color="primary" (click)="addEducation()">Add Education</button>  
        <div formArrayName="education">
            <div *ngFor="let comp of firstFormGroup.get('education').controls; let i=index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field>
                                    <mat-select placeholder="Level"  formControlName="level">
                                    <mat-option  value="Elementary">Elementary</mat-option>
                                    <mat-option  value="Secondary">Secondary</mat-option>
                                    <mat-option  value="Vocational /Trade Course">Vocational /Trade Course</mat-option>
                                    <mat-option  value="College">College</mat-option>
                                    <mat-option  value="Graduate Studies">Graduate Studies</mat-option>
                                    </mat-select>
                                </mat-form-field>
                        </div>
                        <div class="col-8">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="school" placeholder="Name of School">
                                    <mat-hint>Write in full</mat-hint>
                                </mat-form-field>
                        </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <mat-form-field class="example-full-width">
                                <input matInput formControlName="course" placeholder="Degree Course">
                                <mat-hint>Write in full</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                                <input matInput formControlName="yg" placeholder="Year Graduated" type="number">
                        </mat-form-field>
                    </div>
                </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="hg" placeholder="Highest Grade/Level/Units Earned">
                                <mat-hint>If not graduated</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="from" placeholder="From" type="number">
                                <mat-hint>Inclusive dates of attendance</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="to" placeholder="To" type="number">
                                <mat-hint>Inclusive dates of attendance</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="scholarship" placeholder="Scholarship/Academic Honors Received">
                            </mat-form-field>
                        </div> 
                        <div class="col">
                                <button mat-raised-button color="warn" (click)="removeEducation()">Remove Education</button>
                        </div>    
                    </div> 
                </div>
            </div>
        </div>
    
      
        
</mat-card> 
<div>
    <button mat-button matStepperNext [disabled]="!firstFormGroup.valid" (click)="savePage1()">Next</button>
</div>
</form>
</div>













