<div class="container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    <div class="example-container mat-elevation-z8">

        <mat-card class="example-loading-shade" *ngIf="isLoading">
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
          </mat-card>
          
<table mat-table [dataSource]="Employees">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Photo">
    <th mat-header-cell *matHeaderCellDef> Photo </th>
    <td mat-cell *matCellDef="let element"> 
        <img  src="assets/photo/{{element.Photo}}" alt="" class="rounded" width="50" height= "50"> 
        <img *ngIf="!element.Photo" src="assets/photo/no.gif" alt="" class="rounded" width="50" height= "50">
      </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Sname">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Sname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Fname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Fname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Mname">
    <th mat-header-cell *matHeaderCellDef> Middle Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Mname}} </td>
  </ng-container>

  <ng-container matColumnDef="DoB">
      <th mat-header-cell *matHeaderCellDef> Age</th>
      <td mat-cell *matCellDef="let element"> {{element.DoB | amTimeAgo:true}} </td>
    </ng-container>

    <ng-container matColumnDef="R_Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.R_Address}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="primary" ><i class="fa fa-eye text-center" (click)="viewEmployee(element)" aria-hidden="true">  View</i></button> 
              <button mat-raised-button color="accent" ><i class="fa fa-edit text-center" aria-hidden="true">  Edit</i></button>
              <button mat-raised-button color="warn" ><i class="fa fa-camera text-center" (click)="onUpload(element)" aria-hidden="true">  Photo</i></button>
          </td>
        </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</div>